<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Disable the second-level cache -->
        <!--<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.title.Title" />
        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.title.cast.Cast" />
        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.title.cast.Employee" />
        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.title.cast.Actor" />
        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.client.Client" />
        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.review.Review" />
        <mapping class="unq.edu.ar.GrupoMs12021.Resenia.model.review.Platform" />

    </session-factory>
</hibernate-configuration>